{% extends "layout.html" %}

{% block content %}


<h3>{{ message }}</h3>



<address>
    <strong>Pranali Chintam:</strong>   <a href="mailto:pchintam@smu.edu">pchintam@smu.edu</a><br />
    <strong>Rami Babiker:</strong>   <a href="mailto:rbabiker@smu.edu">rbabiker@smu.edu</a><br />
    <strong>Fikirte Asfaw:</strong>   <a href="mailto:fasfaw@smu.edu">fasfaw@smu.edu</a><br />
    <strong>Yazan Abukhaled:</strong>   <a href="mailto:yabukhaled@smu.edu">yabukhaled@smu.edu</a>
</address>

{% endblock %}
