{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">ARR Net LABS trial#7.</p>
    <p><a href="https://www.bing.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           we will create Azure REsource Group in your subscription, please fill the resource group name
        </p>
        
    </div>
 


    <form action="/home" method="POST">
        <p>Sub <input type="text" name="Name" /></p>
        <p>Resource Group Name <input type="text" name="City" /></p>
        
        <p><input type="submit" value="Submit" /></p>
    </form>

    {% if feedback %}
    <p class="text-danger float-right">{{ feedback }}</p>
    {% endif %}

</div>

{% endblock %}
