{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>EETS - 7302 </h1>
    <h2>Wireshark </h2>
    <p class="lead">Wireshark is the foremost and widely-used network protocol analyzer. It lets you see what is happening on your network at a microscopic level and is the de facto standard across many commercial and non-profit enterprises, government agencies, and educational institutions.</p>
    <p><a href="https://www.wireshark.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>



{% endblock %}
